* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  /*background:url("forhead.gif");*/
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: green;
}

/* Style the header */
header {
  margin-bottom:1px;
  background-color:mediumseagreen;
 /* padding:2%;*/
  text-align: center;
  font-size: 100 px;
  color:white;
  border-top-left-radius: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 20px;
  background:url("forall.gif");
  padding: 5px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  
  /*float: left;*/
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  margin-bottom: 1%;
  margin-top: 1%;
}
#navigation
{
  width:100%;
  height: 10%;
  background: #ccc;
  border-radius: 50px;
}


/*article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  position: fixed;
  width: 100%;
  left:0;
  bottom: 0;
  background:url("forall.gif");
  background-color:mediumseagreen;
  /*padding: 1px;*/
  text-align: center;
  color: white;
 margin-top: 1px;
   clear: both;
    /*position: relative;*/
    border-radius: 50px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
/*css for divition*/
.container {
  width: 100%;
  height: 100%;
}

.leftpane {
  border-style: solid;
  border: 5px black;
    width: 25%;
    height: 100%;
    float: left;
    background-color:white;
    border-block-end-width: 2px;
    border-bottom-color: black;
    padding-bottom: 4%;
    border-radius: 50px;
    text-decoration: white;
}

.middlepane {
  /*background:url("for.gif");*/
  border: 5px black;
    width: 50%;
    height: 100%;
    float: left;
    background-color:white;
    font-size: 25px;
    font-style: italic;
    padding-bottom: 5%;
    border-radius: 50px;
    text-decoration: white;
    
}

.rightpane {
  font-family: Impact, Charcoal, sans-serif;
  border: 5px black;
  width: 25%;
  height: auto;
  /*position: relative;*/
  float: right;
  background-color:white;
  padding-bottom: 42%;
  border-radius: 50px;
  text-decoration: white;
}
#one {
  border-style: solid;
  border-color:black;
}
p{
  text-decoration: white;
}
#head
{
  font-size: 40px;
  text-shadow: 10px 10px 5px seagreen;
  
}

img {
  opacity: 0.1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  transform: scale(1.1);
}
#mydiv {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:purple; left:0px; top:0px;}
  25%  {background-color:white; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:white; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}